

body {
    background-image: url('css/blue sky v1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
    place-items: center;
    margin: 0;
    padding: 0;
}


#board {
    background-image: url('css/blue sky v1.png');
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#player {
    background-color: transparent;
    background-image: url('css/platform.png');
    background-size: cover;
    position:relative;
    offset-position: 20px;
}
.rocket {
    
    background-color: transparent;
    background-size: small;
    position: absolute;
}

.astroid {
    
    background-color: transparent;
    background-size: small;
    position: absolute;
    width: auto; 
    height: 25px; 
}

#page-gameover {
    text-align: center;
    background-color: rgb(166, 161, 171);
}

.contentCrash {
    text-align: center;
    background-color: red;
    padding: 20px;
    border-radius: 10px;
}

.contentLand {
    text-align: center;
    background-color: orange;
    padding: 20px;
    border-radius: 10px;
    
}

.title {
    text-align: center;
    background-color: rgba(141, 143, 22, 0.8);
    
}
#timer {
    font-size: 18px;
    color: red; /* Add red font color */
  }

#score {
    font-size: 15px;
    color: blue; /* Add red font color */
  }

.scoreBoard {
    background-color: transparent;
    background-size: small;
    position: absolute;
    width: auto; 
    height: 25px; 
}

#button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }